body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light background to see the shadow */
}

.box {
    width: 95vw;
    height: 95vh;
    border: 2px solid red; /* Red border */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Shadow */
}

.stats {
    font-size: 5vw;
    padding: 5%;
    vertical-align: middle;
    display: inline-block;
    font-family: monospace;
}

#stat-name {
    text-align: center;
}

#player1 {
    text-align: left;
}

#player2 {
    text-align: right;
}
